.navbar {
  background-color:#DDDDDD;
}
.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}
#bio_pic {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-position: top;
}
.description {
  text-align: center;
}
a {
  color: #333333;
}
.portfolio_display {
  background-color: #DDDDDD;
}